<%= form_for(@bushidomessage) do |f| %>
  <% if @bushidomessage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bushidomessage.errors.count, "error") %> prohibited this bushidomessage from being saved:</h2>

      <ul>
      <% @bushidomessage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
