<h1>Listing bushidomessages</h1>

<table>
  <tr>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bushidomessages.each do |bushidomessage| %>
  <tr>
    <td><ul>
      <% bushidomessage.data.each_pair do |k,v| %>
         <li><span><%= k %>:  </span><span><%= v %></span></li>
      <% end %>
    </ul></td>
    <td><%= link_to 'Show', bushidomessage %></td>
    <td><%= link_to 'Edit', edit_bushidomessage_path(bushidomessage) %></td>
    <td><%= link_to 'Destroy', bushidomessage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bushidomessage', new_bushidomessage_path %>


<script type="text/javascript">
  window.setTimeout(function(){
    window.location.href = "/";
  }, 1500);
</script>